{{- define "main" }}

<article class="post-single about-page">
  <header class="post-header">
    {{ partial "breadcrumbs.html" . }}
    <h1 class="post-title entry-hint-parent">
      {{ .Title }}
    </h1>
    {{- if .Description }}
    <div class="post-description">
      {{ .Description }}
    </div>
    {{- end }}
  </header>

  {{- $headshot := resources.Get "img/phil-headshot.jpg" -}}
  {{- if $headshot }}
    {{- $headshotWebp := $headshot.Resize "220x webp q85" -}}
    <div class="about-headshot">
      <img src="{{ $headshotWebp.RelPermalink }}" alt="Philip Huffman" width="{{ $headshotWebp.Width }}" height="{{ $headshotWebp.Height }}" loading="eager">
    </div>
  {{- end }}

  <div class="post-content md-content">
    {{ .Content }}
  </div>

  <footer class="post-footer">
    {{- $tags := .Language.Params.Taxonomies.tag | default "tags" }}
    <ul class="post-tags">
      {{- range ($.GetTerms $tags) }}
      <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
      {{- end }}
    </ul>
  </footer>
</article>


{{- end }}
