<div class="social-icons" {{ with .align}}align="{{.}}" {{- end }}>
    {{- range site.Params.socialIcons }}
    {{- $title := (.title | default .name) | title }}
    {{- $url := trim .url " " | safeURL }}
    <a href="{{ $url }}" target="_blank" rel="noopener noreferrer me" title="{{ $title }}" class="social-icon-link">
        <span class="social-icon-container">
            {{- if eq (lower .name) "amazon" -}}
                <span class="social-amazon-badge">A</span>
            {{- else -}}
                {{- partial "svg.html" . -}}
            {{- end -}}
            <span class="social-label">{{ $title }}</span>
        </span>
    </a>
    {{- end }}
</div>
