<div class="phbooks">
  {{- $books := where .Site.Pages "Section" "books" }}
  {{- $books = $books.ByWeight }}
  {{- range $books }}
    {{- if .Params.image }}
    <div class="phbooks-book">
      <div class="phbooks-title">
        {{- if .Params.link }}
          <a href="{{ .Params.link }}" target="_blank">{{ .Title }}</a>
        {{- else }}
          {{ .Title }}
        {{- end }}
        {{- if not .Params.link }}
          <span class="phbooks-badge">Forthcoming</span>
        {{- end }}
      </div>
      <div class="phbooks-desc phbooks-with-cover">
        <div class="phbooks-cover">
          {{- if .Params.link }}
            <a href="{{ .Params.link }}" target="_blank">
              {{- partial "img.html" (dict "path" .Params.image "size" "160x webp" "alt" (printf "%s cover" .Title)) -}}
            </a>
          {{- else }}
            {{- partial "img.html" (dict "path" .Params.image "size" "160x webp" "alt" (printf "%s cover" .Title)) -}}
          {{- end }}
        </div>
        {{ .Params.description | markdownify }}
      </div>
      {{- if .Params.link }}
        <a href="{{ .Params.link }}" class="phbooks-link" target="_blank">Buy on Amazon</a>
      {{- end }}
    </div>
    {{- end }}
  {{- end }}
</div>
